# Definisanje funkcija

In [1]:
def function_name(parameters):
	"""docstring"""
	statement(s)

In [2]:
def MojaPrvaFunkcija():
    print('Ovo je moja prva funkcija u Python-u! :) ')

In [3]:
MojaPrvaFunkcija()

Ovo je moja prva funkcija u Python-u! :)

In [ ]:
def Saberi(a,b):
    return a+b

In [5]:
Saberi(3,4)

7

In [6]:
def FunkcijaSaberi(a,b,c=5):
    return a+b+c

In [8]:
FunkcijaSaberi(2,3)

10

In [9]:
def squareValue(n):
    return n*n

In [10]:
squareValue(5)

25

In [11]:
def MinMax(a,b):
    minimum=min(a,b)
    maximum=max(a,b)
    print("Minimalna vrednost je: ", minimum)
    print("Maximalna vrednost je: ", maximum)
    return (minimum, maximum)

In [12]:
MinMax(7,8)

Minimalna vrednost je:  7
Maximalna vrednost je:  8

(7, 8)

# Nasumicno uzorkovanje

In [1]:
import numpy as np

In [2]:
#generisemo nasumicne podatke koji ce sluziti kao podaci o populaciji
# Generisacemo 10000 tacaka iz normalne raspodele, m=10, std=2

N=10000
mu=10
std=2
populacija_df=np.random.normal(mu, std, N)

In [3]:
#funkcija koja kreira prost slucajan uzorak

def random_sampling(df,n):
    random_sample=np.random.choice(df,replace=False, size=n)
    return(random_sample)

In [6]:
uzorak=random_sampling(populacija_df,n=10)

In [7]:
uzorak

array([ 9.59472395, 13.95062885,  9.24489885, 10.15306226,  9.37047762,
       12.48313204,  8.30871233,  7.72229219,  7.3462331 ,  9.5810666 ])

# Sistematski uzorak

In [8]:
#generisemo nasumicne podatke koji ce sluziti kao podaci o populaciji
# Generisacemo 10000 tacaka iz normalne raspodele, m=10, std=2

N=10000
mu=10
std=2
populacija_df=np.random.normal(mu, std, N)

In [11]:
import pandas as pd
# 'korak' period u kom se svaki clan uzorka bira
    #'korak' izracunacemo ga tako sto ukupnu velicinu populacije podelimo sa zeljenom velicinom uzorka
def SistematskiUzorak(df,korak): 
    id=pd.Series(np.arange(1,len(df),1))
    df=pd.Series(df)
    df_pd=pd.concat([id,df],axis=1)
    df_pd.columns=["id", "data"]
    #vratice ravnomerno rasporedjene vrednosti
    selected_index=np.arange(8,len(df),korak)
    # iloc daje podatke na odredjenim indexima
    sitematskiUzorak= df_pd.iloc[selected_index]
    return(sitematskiUzorak)

In [12]:
n=10 #obim uzorka
korak=int(N/n)
NasSistematskiUzorak=SistematskiUzorak(populacija_df,korak)
NasSistematskiUzorak

          id       data
8        9.0   8.267490
1008  1009.0   9.895725
2008  2009.0   8.106533
3008  3009.0   7.452823
4008  4009.0  11.141348
5008  5009.0  12.952428
6008  6009.0   9.562315
7008  7009.0  11.637514
8008  8009.0   8.594042
9008  9009.0  11.232678

# Klasterovanje

Prvo, generišemo podatke koji će služiti kao podaci o populaciji sa 10.000 posmatranja, a ti podaci se sastoje od sledeće 4 varijable: <br>
Price: generisana korišćenjem uniformne distribucije na intervalu od 1 do 4, <br>
Id <br>
event_type: koja je kategorijska promenljiva sa 3 moguće vrednosti {tipe1, tipe2, tipe3} <br>
click: binarna promenljiva uzima vrednosti {0: nema klika, 1: klik} <br>

In [14]:
#generisanje baze podataka 

price=pd.Series(np.random.uniform(1,4,size=N))
id=pd.Series(np.arange(0,len(price),1))
event_type=pd.Series(np.random.choice(["type1","type2","type3"],size=len(price)))
click=pd.Series(np.random.choice([0,1],size = len(price)))


df=pd.concat([id, price,event_type,click],axis=1)
df.columns=["id","price","type","click"]
df

        id     price   type  click
0        0  3.847502  type2      1
1        1  3.032087  type3      1
2        2  2.762588  type2      0
3        3  1.079794  type1      1
4        4  2.294245  type1      0
5        5  3.002802  type3      0
6        6  2.705261  type2      0
7        7  2.963874  type2      0
8        8  2.543011  type2      0
9        9  2.254371  type2      0
10      10  1.250480  type2      1
11      11  3.824083  type3      0
12      12  3.977573  type2      0
13      13  3.405779  type3      0
14      14  2.721743  type3      0
15      15  2.045452  type1      0
16      16  1.851497  type2      0
17      17  2.169449  type3      0
18      18  3.774039  type2      0
19      19  3.348752  type2      1
20      20  1.985887  type2      1
21      21  3.677059  type1      1
22      22  1.095764  type2      1
23      23  2.937009  type3      0
24      24  1.388115  type2      1
25      25  2.081042  type2      0
26      26  3.458022  type2      0
27      27  2.497590  type3      0
28      28  1.408168  type3      1
29      29  1.717225  type1      0
...    ...       ...    ...    ...
9970  9970  2.675960  type2      0
9971  9971  3.443070  type2      0
9972  9972  1.802326  type3      1
9973  9973  2.506469  type3      1
9974  9974  3.282000  type1      1
9975  9975  2.637130  type1      0
9976  9976  3.043300  type3      1
9977  9977  3.127963  type3      1
9978  9978  2.995473  type2      0
9979  9979  3.492613  type1      0
9980  9980  2.180934  type3      0
9981  9981  1.215294  type1      0
9982  9982  1.950577  type2      1
9983  9983  1.287671  type2      1
9984  9984  2.117724  type3      1
9985  9985  3.847055  type3      0
9986  9986  3.507794  type3      1
9987  9987  3.271644  type1      0
9988  9988  3.040289  type2      0
9989  9989  2.600801  type2      1
9990  9990  1.219305  type3      0
9991  9991  1.970866  type2      1
9992  9992  1.098549  type1      1
9993  9993  3.657501  type1      0
9994  9994  2.178830  type2      0
9995  9995  2.248637  type3      0
9996  9996  2.192330  type2      1
9997  9997  1.473126  type1      0
9998  9998  1.913739  type3      0
9999  9999  2.100024  type2      0

[10000 rows x 4 columns]

In [18]:
#funkcija koja izvlaci uzorak klasterovanje
#n_per_cluster broj elemenata u klasteru 
def getClusteredSample(df, n_per_cluster, num_selectCluster):
    
    N=len(df)
    K=int(N/n_per_cluster) #K nam oznacava broj klastera
    data=None
    for k in range(K): #malo k broj koji je klaster po redu; k=1,2,3...,K
        sample_k=df.sample(n_per_cluster) #Biramo n_per_cluster elemenata iz baze i stavljamo u k-ti klaster 
        #za svaki red ce pisati u kom je klasteru, pa dpdajemo kolomu cluster za svaki element koji se nlazsai u nasem klasteru
        sample_k["cluster"]=np.repeat(k, len(sample_k))
        #drop sklanja redove ili kolone
        #mi koristimo ovde drop da bi sklonili elemente koji su vec izabrani u klaster, da se ne bi ponavljali
        df=df.drop(index=sample_k.index)
        data=pd.concat([data, sample_k],axis=0)
    IzabraniKlasteri=np.random.randint(0,K,num_selectCluster) 
    uzorak=data[data.cluster.isin(IzabraniKlasteri)]
    return(uzorak)

NasUzorak=getClusteredSample(df=df,n_per_cluster =100, num_selectCluster=2)
NasUzorak

        id     price   type  click  cluster
5176  5176  2.570975  type1      1       64
6653  6653  1.884691  type2      0       64
7174  7174  1.522884  type1      1       64
8284  8284  1.797347  type3      0       64
4976  4976  2.004934  type2      1       64
9843  9843  1.787633  type2      0       64
5184  5184  2.169484  type1      0       64
7295  7295  1.158334  type1      0       64
8894  8894  3.183690  type2      0       64
8824  8824  1.939430  type1      1       64
5471  5471  2.859542  type2      1       64
4805  4805  1.543920  type1      0       64
8484  8484  2.525948  type2      0       64
9742  9742  2.771943  type2      0       64
3315  3315  1.182997  type2      0       64
2847  2847  1.884087  type3      0       64
9416  9416  2.519452  type3      0       64
2684  2684  1.111882  type1      0       64
5692  5692  1.124629  type2      0       64
6156  6156  3.777067  type1      1       64
8971  8971  3.861572  type2      0       64
3934  3934  1.340621  type2      0       64
7744  7744  1.545057  type1      1       64
8497  8497  2.694207  type1      1       64
9506  9506  2.298467  type3      0       64
8617  8617  1.190466  type3      0       64
7231  7231  2.379708  type1      0       64
9773  9773  3.578839  type2      1       64
7294  7294  1.539477  type1      1       64
721    721  1.958700  type3      0       64
...    ...       ...    ...    ...      ...
3489  3489  1.976418  type2      1       90
3159  3159  2.368393  type2      1       90
3847  3847  1.617387  type3      1       90
4067  4067  2.496757  type3      0       90
7202  7202  2.745575  type3      0       90
2503  2503  3.423421  type1      1       90
4206  4206  1.900506  type1      1       90
758    758  3.617735  type3      1       90
3340  3340  3.017547  type1      0       90
3908  3908  3.678893  type2      1       90
2132  2132  2.024402  type1      0       90
9341  9341  3.044508  type1      0       90
9454  9454  3.333256  type2      0       90
7792  7792  3.916695  type3      0       90
6774  6774  3.142580  type3      1       90
9675  9675  2.793663  type3      0       90
9536  9536  2.105250  type1      0       90
6937  6937  2.797206  type3      0       90
78      78  2.455647  type3      1       90
5126  5126  1.154015  type2      0       90
614    614  2.687269  type3      1       90
7809  7809  1.264989  type2      1       90
1673  1673  1.065774  type3      1       90
7044  7044  3.127497  type2      1       90
1151  1151  3.571378  type2      0       90
1204  1204  3.500619  type1      1       90
6578  6578  3.082825  type2      1       90
4245  4245  2.057081  type2      1       90
3707  3707  2.035278  type3      0       90
5916  5916  3.269510  type1      1       90

[200 rows x 5 columns]

In [ ]:
def get_weighted_sample(df,n):
    def get_class_probabilty(x):
        #racunamo tezinu koju cemo da pridruzimo podacima koji su imali dogadjaj klika 1
        weight_x=int(np.rint(n*len(x[x.click!=0])/len(df[df.click!=0])))
        sampled_x=x.sample(weight_x).reset_index(drop=True)  
        return(sampled_x)
    weighted_sample=df.groupby('type').apply(get_class_probabilty)  
    print(weighted_sample["type"].value_counts())
    return(weighted_sample)
Uzorak=get_weighted_sample(df,100)
Uzorak

# Stratifikovan uzorak

In [36]:
def get_startified_sample(df,n,num_clusters_needed):
    N = len(df)
    num_obs_per_cluster = int(N/n)
    K = int(N/num_obs_per_cluster)

    def get_weighted_sample(df,num_obs_per_cluster):
        def get_sample_per_class(x):
            n_x = int(np.rint(num_obs_per_cluster*len(x[x.click !=0])/len(df[df.click !=0])))
            sample_x = x.sample(n_x)
            return(sample_x)
        weighted_sample = df.groupby("type").apply(get_sample_per_class)
        return(weighted_sample)

    stratas = None
    for k in range(K):
        weighted_sample_k = get_weighted_sample(df,num_obs_per_cluster).reset_index(drop = True)
        weighted_sample_k["cluster"] = np.repeat(k,len(weighted_sample_k))
        stratas = pd.concat([stratas, weighted_sample_k],axis = 0)
        df.drop(index = weighted_sample_k.index)
    selected_strata_clusters = np.random.randint(0,K,size = num_clusters_needed)
    stratified_samples = stratas[stratas.cluster.isin(selected_strata_clusters)]
    return(stratified_samples)

sample = get_startified_sample(df = df,n = 100,num_clusters_needed = 2)
sample

      id     price   type  click  cluster
0   2631  1.292711  type1      1       12
1   4407  2.890898  type1      0       12
2   5512  2.166010  type1      0       12
3   4157  1.705755  type1      1       12
4   7657  2.214504  type1      1       12
5   7117  3.651537  type1      1       12
6   1540  1.490146  type1      0       12
7   6746  2.517118  type1      1       12
8    251  1.543131  type1      0       12
9   5245  2.641811  type1      0       12
10  6299  3.585672  type1      0       12
11  8747  2.782869  type1      1       12
12  8094  1.720390  type1      0       12
13   390  3.771997  type1      0       12
14  6076  1.954624  type1      1       12
15  3495  3.940320  type1      0       12
16  9038  3.901827  type1      1       12
17  9997  1.473126  type1      0       12
18  7499  1.537412  type1      1       12
19  4930  2.565182  type1      0       12
20  1320  2.623061  type1      1       12
21  9113  1.024773  type1      1       12
22  4255  3.112046  type1      1       12
23  8084  3.096769  type1      1       12
24  5367  1.605721  type1      0       12
25  9158  2.620809  type1      0       12
26  7896  1.727020  type1      0       12
27  9536  2.105250  type1      0       12
28  4395  3.751936  type1      0       12
29  7540  3.473891  type1      0       12
..   ...       ...    ...    ...      ...
70  3246  1.142964  type3      1       60
71  8832  2.123726  type3      0       60
72   637  2.800610  type3      1       60
73  3620  2.342249  type3      1       60
74   552  1.673321  type3      0       60
75  7302  1.126728  type3      1       60
76  2231  3.406918  type3      1       60
77   396  2.665215  type3      0       60
78  3645  1.596190  type3      1       60
79   862  3.546282  type3      0       60
80  8983  3.420977  type3      1       60
81  4577  1.895911  type3      1       60
82  1039  1.615232  type3      0       60
83  5731  3.747411  type3      0       60
84   825  2.302203  type3      1       60
85  6439  1.536219  type3      1       60
86   690  3.484283  type3      1       60
87  3743  3.121684  type3      1       60
88  9313  1.045114  type3      1       60
89  3146  2.446815  type3      1       60
90  2736  2.868734  type3      0       60
91  1585  2.110438  type3      1       60
92  7396  2.088099  type3      1       60
93  3694  3.171453  type3      0       60
94  2552  2.651428  type3      0       60
95  2159  1.940872  type3      1       60
96  7348  1.826239  type3      0       60
97  3068  3.970276  type3      1       60
98  9576  1.143905  type3      1       60
99  7082  3.032392  type3      1       60

[200 rows x 5 columns]